*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
section{
	min-height: 100%;
}

.banner{
	height:190px;
	background: url("../img/banner5.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}
.banner-esq{
	float:left;
	padding:20px;
}

.banner-esq img{
	height:180px;
	width:250px;
}

.banner-dir{
	float:right;
	padding:20px;
}

.banner-dir img{
	margin-top:-30px;
	height:200px;
	width:1000px;
		
}

.menu{
	padding-top:30px;
	padding-bottom:30px;
	background-color:#33ffff;
}


.menu ul li {
	display:inline;
	padding:90px;
	margin-left:40px

}

.menu ul li  a{
	font-family:Impact, fantasy;
	margin-left:10px;
	color:#66ff66;
	font-size:30px;
	padding-left:5px;
	text-decoration: none;
	text-shadow: 2px 2px 2px #000;
}

.menu ul li a:hover{
	color:#bfbfbf;
}

.conteudo{
	width: 100%;
	height:500px;
	background-color:#262626;
	background-repeat: no-repeat;
	background-size:cover;
}

/*menu/banner*/















/* RODAPE */
	
footer{
	height:275px;
	background-color:#000000;
}

.rod-esq{
	float:left;
	margin-left:50px;
}

.rod-esq ul li{
	font-family:Stencil Std, fantasy;
	padding:6px;
	color:limegreen;
	font-size:27px;
}

.rod-dir{
padding:10px;
margin-right:20px;
float:right;
}







